@model ClickCafe.ViewModels.LoginViewModel

<h2>Login</h2>
<form action="/Auth/Login" method="post" >
    
    <input asp-for="Email" placeholder="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <input asp-for="Password" placeholder="Password" type="password" />
    <span asp-validation-for="Password"></span>
    <button type="submit">Login</button>
</form>
<br />
<span style="font-size: 12px;">Don't have account yet?</span>
<a asp-controller="Auth" asp-action="Register" style="font-size: 12px;">
    Register
</a>