@{
    ViewData["Title"] = "Home Page";
}


<form method="post" action="/Order/CreateOrder">
    <button type="submit" id="orderCoffe">Order Coffee</button>
</form>
<p style="display:none" id="notImplemented">Coffee was ordered</p>
